/*
	jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
*/

/* Most common stuff you'll need to change */

	.coda-slider-wrapper { padding: 20px 0 }
	.coda-slider {}
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width:460px } 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 600px }
	.coda-slider-wrapper.arrows .coda-slider { margin: 0 10px }
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 10px }
	
	/* Tab nav */
	.coda-nav ul li a.current { background: #4F5E9C }
	
	/* Panel padding */
	.coda-slider .panel-wrapper { 
		padding: 0px;
	}
	
	/* Preloader */
	.coda-slider p.loading { padding: 20px; text-align: center }

/* Don't change anything below here unless you know what you're doing */

	/* Tabbed nav */
	.coda-nav ul { clear: both; display: block; margin: auto; overflow: hidden; width:300px; }
	.coda-nav ul li { display: inline }
	.coda-nav ul li a { 
        background: #474747; 
        color: #fff; 
        display: block; 
        float: left; 
        margin-right: 4px; 
        padding:1px 10px;
        border:1px solid transparent;
        -moz-border-radius:20px;
        text-decoration: none;
        font-size:11px;
        font-weight:bold;
    }
	
	/* Miscellaneous */
	.coda-slider-wrapper {overflow: auto }
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { display: block; float: left }
	.coda-slider .panel-container { position: relative }
	.coda-nav-left, .coda-nav-right {  }
	.coda-nav-left a, .coda-nav-right a { display: inline; text-align: center; text-decoration: none; }
	
	
	
	
/*
#coda-nav-left-1 { margin: 0 1px 0 135px }
#coda-nav-left-1, #coda-nav-1, #coda-nav-right-1 { float: left }
#coda-nav-1 ul { margin: 0 !important }
#coda-nav-left-1 a, #coda-nav-right-1 a { padding: 4px; width: 20px }
*/

div#coda-nav-left-1 {
	float:left;
	margin-right:10px;
	cursor:pointer;
}
div#coda-nav-right-1 {
	margin-left:10px;
	cursor:pointer;
}

#coda-nav {
}


#coda-nav-1 {
	position: relative;
    top: 300px;
    //top: 290px;
    z-index:999999999;
}

#coda-slider-1 { 
    clear: both;
	height:340px;
    //margin-top:-40px;
}
#coda-nav-1 ul {
	width:460px;
}
#coda-slider-1 .legende {
	float: left;
	width: 130px;	
	margin-left: 10px;
	margin-top: 0px;
}

#coda-slider-1 .legende-qui {
	float: left;
	width: 450px;	
	margin-left: 10px;
	margin-top: 0px;
	color: #444444;
	text-shadow: 1px 1px #e3e3e3;
    line-height:22px;
}

#coda-slider-1 img {
	border: 5px solid #ffffff;
	float:left;
}

.legende h4 {
	margin-top: 0px;
}

a.lecture-video {
	color: #000000;
	background-color: #ffffff;
	padding: 05px 10px;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
	float: left;
	-moz-transition: padding 0.2s ease;
	-webkit-transition: padding 0.2s ease;
	transition: padding 0.2s ease;
}

a.lecture-video:hover {
	color: #000000;
	background-color: #ffffff;
	padding: 05px 20px;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
	float: left;
	-moz-transition: padding 0.2s ease;
	-webkit-transition: padding 0.2s ease;
	transition: padding 0.2s ease;
}

div.carou_qui {
	width:570px;
	margin-left:470px;
}

div#slide-container {
	margin:0;
	width:465px;
	float:left;
	border:none;
}


