body {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;	
	background-image: url(../images/fond-global2.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

a img {
	border: none;	
}

#wrapper, #footer, #bandeau {
	width: 1000px;
	margin: auto;
	
}

#wrapper #header a.logo {
	margin-left: 0px;
	width: 280px;
	display: block;	
	margin-top: 35px;
	float: left;
}

#wrapper #header .menutop {
    display: block;
    float: left;
    width: 525px;
}

#wrapper #header .menutop a {
	display: block;
	float: left;
	height: 45px;
	margin-top: 45px;
	width: 115px;	
	background-repeat: no-repeat;
	background-position: top left;
	-moz-transition: background-position 0.3s ease;
	-webkit-transition: background-position 0.3s ease;
	-o-transition: background-position 0.3s ease;
	-ms-transition: background-position 0.3s ease;
	transition: background-position 0.3s ease;
}

#wrapper #header .menutop a:hover {
	background-repeat: no-repeat;
}

#wrapper #header .menutop a.medical {
	background-image: url("../images/bg-top-medical.png");	
}
#wrapper #header .menutop a.pharma {
	background-image: url("../images/bg-top-pharma.png");	
}
#wrapper #header .menutop a.formation {
	background-image: url("../images/bg-top-formation.png");	
}
#wrapper #header .menutop a.recrutement {
	width: 140px;
	background-image: url("../images/bg-top-recrutement.png");	
}

#wrapper #header .menutop a.medical:hover, #wrapper #header .menutop a.pharma:hover, #wrapper #header .menutop a.formation:hover, #wrapper #header .menutop a.recrutement:hover {
	background-position: 0px -56px;	
	-moz-transition: background-position 0.3s ease;
	-webkit-transition: background-position 0.3s ease;
	-ms-transition: background-position 0.3s ease;
	-o-transition: background-position 0.3s ease;
	transition: background-position 0.3s ease;
}

#wrapper #header .menutop a img {
	height: 45px;
	width: 125px;	
}

#wrapper #header p.coordonnees {
    background-color: #FFFFFF;
    color: #444444;
    display: block;
    float: left;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 0;
    padding: 15px 15px;
}

#bandeau {
	margin-top: 10px;
	height: 495px;
}
#bandeau_timeline {
	height: 475px;
    margin: auto;
    margin: 1.5rem 0 20px;
    width: 990px;
    float: left;
    background-image: url("../images/bg-chiffres.png");
}
#bandeau_oppsis {
	height:475px;
	margin: auto;
	margin-top:30px;
	width:1000px;
	background-image: url("../images/header-oppsis.png");
}


#bandeau_oppsis.qui {
	background-image: url("../images/header-qui.png");
}

.texte_oppsis {
	width:390px;
	font-size:16px;
	line-height:24px;
	position:relative;
	top:140px;
	left:550px;
}

.carou_qui {
	font-size:16px;
	line-height:24px;
	top:140px;
	float: left;
	overflow: hidden;
	margin-left: 420px;
	margin-top: 110px;
}

.carou_qui .btn {
	float: left;	
} 

.article_left{
	margin-top:40px;
	float:left;
	width:450px;
	padding-right:50px;
	border-right:6px solid #d1d1d1;
}

.article_left.qui {
	border: none;	
}

.article_left.qui p {
	margin-left: 20px;		
}

.article_right {
	margin-top:40px;
	float:right;
	width:450px;
	padding-left:30px;
}

.article_right.qui #les-chiffres {
	background-image: none;
	padding-top: 60px;
	background-color: #f5f5f5;
	width: 400px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #e3e3e3;
}

.article_right.qui #les-chiffres #chiffres1 {
	margin-left: 20px;	
}

.article_right.qui #les-chiffres #chiffres2 {
	background-color: #fff;
	width: 380px;
	margin-left: 10px;	
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
}

.article_right.qui #les-chiffres #chiffres2 .effectifs {
	float: left;
	display: block;	
}

.article_right.qui #les-chiffres #chiffres2 span {
	margin-left: 0px;
	text-align: left;
	width: 150px;
	margin-left: 20px;
}

.article_left img,.article_right img{
	position:relative;
	top:5px;
}
.article_left span,.article_right span{
	font-weight:bold;
	font-size:16px;
	margin-left:15px;
}
.article_left p,.article_right p{
	width:420px;
	padding-bottom:30px;
	margin-left:20px;
	margin-bottom:30px;
	color:#6D6D6D;
	border-bottom:2px solid #c7c7c7;
	line-height:21px;
}

.article_left.qui p, .article_right.qui p {
	border: none;
	padding-bottom: 0px;
	margin-top: 20px;
}

.qui p.defi {
	padding-left: 100px;
	width: 320px;	
}

#bandeau #flash-content {
	width: 700px;
	float: left;
	margin-top: 35px;
}

#bandeau #candidats {
	float: left;
	margin-left: 20px;
	width: 280px;	
	height: 526px;
}

#bandeau #candidats div {
	margin-bottom: 20px;	
	width: 100%;
	float: left;
	background-image: url("../images/bg-candidats.png");
	background-position: 0px top;
	background-repeat: no-repeat;
	margin-top: 26px;
}

#bandeau #candidats a.out {
	display: block;
	float: left;
	width: 100%;
	text-align: right;	
	margin-top: 13px;	
}

#bandeau #candidats div #liens {
	margin-top: 10px;
	margin-left: 30px;
	text-decoration: none;	
	background: transparent;
}

#bandeau #candidats div #liens a {
	color: #3B495D;
	font-weight: bold;	
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
}

#bandeau #candidats div #liens a:hover {
	text-decoration: underline;	
}

#bandeau #candidats div p {
	margin-left: 130px;
	width: 130px;
	font-size: 12px;
	line-height: 14px;
}

#bandeau #candidats div p a {
	text-decoration: none;
	color: #444444;	
}

#bandeau #candidats a.contact {
    background-image: url("../images/contact.png");
    background-position: center top;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 70px;
    line-height: 85px;
    margin-left: 35px;
    margin-top: -23px;
    padding-left: 84px;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
}

#bandeau #candidats a.contact:hover {
	font-weight: bold;	
}

#bandeau #candidats img.accroche {
	margin-left: 60px;
	margin-top: 20px;
}

#bandeau #candidats p {
	width: 200px;
	margin-left: 70px;	
}

#bandeau #candidats ul {
	display: block;
	margin-top: 100px;
	margin-left: 40px;
	background-color: #ffffff;
	padding: 20px;
	padding-left: 30px;
	width: 200px;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	-o-border-radius: 10px;
}

#bandeau #candidats ul li {
	list-style-type: none;
}

#bandeau #candidats ul li a {
	text-decoration: none;
	color: #444444;	
}

#bandeau #candidats ul li a:hover {
	text-decoration: underline;	
}

#contenu {
	float: left;
	width: 1000px;
	margin-top: 50px;	
	margin-bottom: 60px;
}

#contenu #colgauche {
	float: left;
	width: 580px;	
	margin-top:10px;
}

#contenu #colgauche .webtv {
	background-image: url("../images/bg-video.jpg");	
	height: 510px;
	background-repeat: no-repeat;
}	

#contenu #colgauche .webtv #flash-content2 {
	float: left;
	height: 380px;
	padding-top:20px;	
	margin-left:40px;
}

#contenu #colgauche .webtv h4 {
	font-size: 16px;
}

#contenu #colgauche .webtv h4, #contenu #colgauche .webtv p {
	color: #5D5D5D;
	margin: 0px 40px;
}

#contenu #colgauche #carou {
	background-image: url("../images/bg-carou.jpg");	
	background-repeat: no-repeat;
	height: 360px;
	margin-top: 0px;
}

#contenu #colgauche #carou h3 {
	color: #5d5d5d;
	font-weight: normal;
	font-size: 20px;
	margin-left: 30px;
	display: block;
	width: 85%;
	border-bottom: 2px solid #5d5d5d;	
	padding-bottom: 10px;
}

#contenu #colgauche #carou .btn {
	float: left;	
	cursor: pointer;
	margin-top: 0px;
}

#slide-container {
	float: left;
	overflow: hidden;
	width: 480px;
	height: 300px;	
	margin-top: 10px;
	position: relative;
	z-index: 10;
}

.carou_qui #slide-container {
	width: 465px;
	float: left;
	margin-left: 100px;
	height: 360px;
	border:none;
	margin-top: 15px;
	margin:0;
}

/*
#contenu #colgauche #carou #slides {
	float: left;
	width: 1920px;	
	position: relative;
	display: block;
	z-index: 1;
}
#contenu #colgauche #carou #slides div {
	margin-top: 10px;
	width: 480px;	
	float:left;
}
#contenu #colgauche #carou #slides div .legende {
	float: left;
	width: 230px;	
	margin-left: 10px;
	margin-top: 0px;
}
#contenu #colgauche #carou #slides img {
	border: 5px solid #ffffff;
	float:left;
}
#contenu #colgauche #carou #liste {
	float: left;
	width: 400px;
	text-align: center;
}
*/
	
#contenu #coldroite {
	margin-top: -20px;
	float: left;
	width: 418px;	
	background-image: url("../images/bg-coldroite.jpg");
	background-repeat: no-repat;
	background-position: top center;
}		
	
.left {
	float: left;
	display: block;
	height: 370px;
}
	
#coldroite p, #coldroite a.lecture-video, #coldroite ul {
	margin-left: 210px;
	margin-right: 10px;
	color: #444444;
}	

#coldroite p.extrait, #coldroite ul {
	font-weight: bold;
	font-size: 16px;
	margin-top: 150px;	
}	
	
#coldroite ul {
	margin-top: 170px;
	padding: 0px;	
}
	
#coldroite .opssis {
	background-image: url("../images/btn-oppsis2.jpg");	
	float: left;
	width: 100%;
	height: 200px;
	border-top: 1px solid #e3e3e3;
}

#coldroite .opssis p, #coldroite .opssis a  {
	margin-left: 250px;
}
#coldroite .opssis p{
    margin-right:0;
}
	
#footer {
	width: 100%;
	float: left;
	background-color: #f5f5f5;
		
}

#footer p {
	margin: 0px;	
}

#footer #ss-footer {
	width: 1000px;
	margin: auto;
}	

#footer #ss-footer a img {
	float: left;
	margin: 20px 05px;
}
	
#footer #ss-footer div {
	float: left;
	width: 250px;
}

#footer #ss-footer div span {
	margin-top: 20px;
	display: block;
	padding: 20px 70px;
	background-image: url("../images/bg-plan.jpg");
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

#footer #ss-footer div span a {
	background-color: #ffffff;
	display: block;	
	text-align: center;
	text-decoration: none;
	padding: 10px;
	-moz-border-radius: 05px;
	-webkit-border-radius: 05px;
	-o-border-radius: 05px;
	-ms-border-radius: 05px;
	border-radius: 05px;
	color: #444444;
}

#footer #ss-footer div h2, #footer #ss-footer div p {
	background-color: #ffffff;
	margin: 0px;	
	padding: 10px;
}

#footer #ss-footer div p {
	font-size: 12px;
	line-height: 14px;
	margin-top: 0px;
	padding-top: 0px;
}

#footer #ss-footer div h2 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;	
	padding: 05px;
	text-align: center;
}

#footer #ss-footer p {
	text-align: center;
}
#footer  p.lien_footer  {
	font-size:12px;
	color:#707070;
}
#footer  p.lien_footer a,#footer  p.lien_footer a:visited {
	color:#707070;
	text-decoration:none;
}
#footer  p.lien_footer a:hover {
	text-decoration:underline;
}

/* PAGE CHIFFRES CLES */

#les-chiffres {
	float: left;
	width: 100%;
	color: #444;
	background-image: url("../images/bg-bloc-chiffres.jpg");
	background-position: -75px top;
	background-repeat: no-repeat;
	padding-top: 170px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e3e3e3;
}

#les-chiffres #chiffres1 {
	display: block;
	float: left;
	width: 33%;	
}

#les-chiffres #chiffres1 span.rond6 {
	float: left;
	display: block;
	padding: 30px 45px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	-o-border-radius: 80px;
	-ms-border-radius: 80px;
	border-radius: 80px;
	font-size: 60px;
	line-height: 100px;	
	background-color: #4F5E9C;
	color: #ffffff;
	border: 3px solid #7F8EBF;
	box-shadow: 10px 10px #4F5E9C 0px;
	margin-right: 15px;
	margin-top: 0px;
}

#les-chiffres #chiffres1 span {
	font-size: 28px;
	line-height: 34px;
	float: left;
	font-weight: normal;
}

#les-chiffres #chiffres1 p {
	margin-top: 20px;
	font-size: 14px;
}

#les-chiffres #chiffres2 {
	float: left;
	width: 33%;
	text-align: center;
	background-color: #f5f5f5;
	padding-top: 20px;
	padding-bottom: 20px;
}

#les-chiffres #chiffres2 span.effectifs {
	font-size: 90px;
	display: block;
	height: 90px;
	width: 170px;
	line-height: 90px;
	font-weight: normal;
}

p.expertises {
	font-size: 22px;
	margin-top: 15px;	
}

#les-chiffres #chiffres2 hr {
	clear: left;
	border: 1px solid #444;
}

#les-chiffres #chiffres2 span {
	margin-left: 80px;
	display: block;
	width: 200px;
	margin-top: 0px;
	padding-top: 0px;	
	font-weight: normal;
	font-size: 18px;
}

#les-chiffres #chiffres2 p {
	margin-top: 20px;	
}

#les-chiffres #chiffres2 span, #les-chiffres #chiffres2 p {
	float: left;	
}

#les-chiffres #chiffres3 {
	float: left;
	width: 33%;	
}

#les-chiffres #chiffres3 span {
    display: block;
    padding: 20px 70px;
    font-size: 100px;
    line-height: 95px;
    background-color: #4F5E9C;
    color: #ffffff;
    border: 3px solid #7F8EBF;
    box-shadow: 10px 10px #4F5E9C 0px;
    margin: 0 auto 5px;
    width: 15%;
	
}

#les-chiffres #chiffres3 {
	text-align: center;	
}

#equipe {
    margin-top: 30px;
    float: left;
    background-color: #f2f2f2;
    background-image: url(../images/titre-membres.gif);
    background-position: top center;
    background-repeat: repeat-x;
    padding-top: 130px;
    width: 920px;
    margin: 0 40px;
    padding-bottom: 20px;
}

#equipe div {
    color: #444444;
    display: block;
    float: left;
    height: 320px;
    margin: 0 1%;
    padding: 2%;
    width: 27%;
}

#equipe div h4, #equipe div h5 {
	color: #444444;
	text-align: left;
	margin-top: 15px;
}
	
#equipe div p {
	font-size: 12px;	
}

#equipe div.membre1 {
	background-color: #ffffff;	
	margin-bottom: 10px;
}

#equipe div.membre2 {
	background-color: #f9f9f9;	
	margin-bottom: 10px;
	text-align: center;
}

#equipe div img {
	margin-top: 05px;
	border: 2px solid #ffffff;	
}

#partenaires {
	background-color: #D6D6D6;
	float: left;
	margin-top: 30px;
	width: 1000px;
	height: 112px;
}
	
#partenaires span {
	display: block;
	float: left;
	margin-left: 30px;
	margin-right: 30px;	
	height: auto;
}

#partenaires span img {
	margin: 0;	
}

#partenaires img {
	margin-top: 10px;
	margin-left: 20px;	
}
#bandeau_oppsis {
	margin-top:20px;
}

#footer #ss-footer .bloc_pole {
	float:left;
	width:749px;
	height:159px;
	background:url('../images/bg_footer.jpg') no-repeat;
}	

#footer #ss-footer .bloc_pole a.retour-gsa {
	display: block;
	float: left;	
}

#footer #ss-footer .bloc_pole p {
	float:left;
	width:250px;
}	
#footer #ss-footer a img { 
	float: left;
}	

#footer #ss-footer .blocs-footer {
    display: block;
    float: left;
    margin-left: 200px;
    width: 600px;
}

#footer {
	width: 100%;
	float: left;
	background-color: #f9f9f9;
}

/* CONTACT */

#bloc_form {
	margin-top:50px;
}

#bloc_form div.label {
	float:left;
	width:100px;
	font-weight:bold;
	color:#216589;
	font-size:11px;
	position:relative;
	top:3px;
}

#bloc_form input[type="text"],#bloc_form textarea {
	font-family:helvetica, arial, sans-serif;
	font-size:12px;
	padding:5px;
	box-shadow:0 1px 2px #5B5B5B;
	color:#5B5B5B;
	width:300px;
	border:none;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#F2F2F2;
}

#bloc_form input[type="text"]:focus,#bloc_form textarea:focus {
	border:none;
	box-shadow:0 0 5px #4BA2D1;
	background:#fff;
}

#bloc_form input[type="submit"] {
	width:310px;
	height:47px;
	border:none;
	background:url('images/btn_contact_envoyer.png') no-repeat;
	cursor:pointer;
	box-shadow:0 1px 2px #5B5B5B;
}

#bloc_form input[type="submit"]:hover {
	box-shadow:0 0 5px #4BA2D1;
}

.gmaps {
	border:1px solid transparent;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	box-shadow:0 1px 2px #5B5B5B;
}




/*ABOUT-OUR-COMPANY*/
.about-our-company {
	width:590px;
	float:left;
	margin:0 20px 0 0;
}
.about-our-company h2,
.left-container h2 {
	font-size:35px;
	padding-bottom:15px;
	margin:0 0 15px 0;
    font-family:'Terminal Dosis',sans-serif;
}
.left-container h2 {
	color:#C50505;
	padding-bottom:23px;
    cursor:pointer;
}
.left-container h2:hover {
	color:#333;
}
.left-container h3 {
	font-size:16px;
	padding-bottom:5px;
	border-bottom:1px solid #c6c6c6;
	margin:0 0 15px 0;
}
.about-our-company span,
.about-us span {
	font-size:18px;
	display:block;
	margin:0 0 25px 0;
	color:#C50505;
    font-family:'Terminal Dosis',sans-serif;
    line-height:24px;
}

.about-us li {
	float:none;
	list-style-type:none;
	padding:5px;
	width:590px;
	border-bottom:1px dotted #ccc;
}
.about-us li a {
	font-size:15px;
	color:#333;
	text-decoration:none;
}
.about-us li a:hover {
	color:#C50505;
	text-decoration:underline;
}

.about-us img {
	/*
	width:80px;
	height:80px;
	*/
	float:left;
	margin:5px 15px 0 0;
}


			
.boxgrid{ 
    width: 211px; 
    height: 157px; 
    margin:5px; 
    float:left; 
    border:none; 
    overflow: hidden; 
    position: relative;
}
    .boxgrid img{ 
        position: absolute; 
        top: 0; 
        left: 0; 
        border: 0; 
        margin:0;
    }
    .boxgrid p{ 
		width: 211px; 
		height: 157px; 
    }
    .boxgrid p a{         
        color:#383838; 
        text-decoration:none;
        padding:4px 8px 4px 8px;
        background:#fff;
        font-size:11px;
    }
    .boxgrid p a:hover{     
        background:#eee;
        color:#000;
    }


.boxcaption{ 
    float: left; 
    position: absolute; 
    background: #000; 
    height: 100px; 
    width: 100%; 
    opacity: .8; 
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.captionfull .boxcaption {
    top: 260;
    left: 0;
}
.caption .boxcaption {
    top: 220;
    left: 0;
}



	
