/*é
 menu styles
 note: not all browsers render styles the same way so try out your style sheet
 in different browsers before publishing
*/

/* level 0 inner */
.m0l0iout {
	
	
	text-decoration: none;
	margin: 3px 0px 0px 0px;
	color: #000000;
	border:none; 
	text-align:center; 
	padding:0px 0px 0px 0px;
}
.m0l0iover {
	
	
	text-decoration:none;
	margin: 3px 0px 0px 0px;
	color: #000000;
	white-space:nowrap; 
	text-align:center; 
	border:none; 
	padding:0px 0px 0px 0px;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	border:none; 
	white-space:nowrap; 
	text-align:center; 
	
	
	
	padding:0px 0px 0px 0px;
        background-color: #f0f0f0;
	
}
.m0l0oover {
	text-decoration : none;
	border:none;
	white-space:nowrap;
	text-align:center;	
	
	
	padding:0px 0px 0px 0px;
        background-color: #c9c9c9;
	
}

/* level 1 inner */
.m0l1iout {
	
	
	margin: 3px 0px 0px 3px;
	color: #000000;
	border:none; 
}
.m0l1iover {
	
	
	margin: 3px 0px 0px 3px;
	color:#000000;
}

/* level 1 outer */
.m0l1oout {
	
	
	text-decoration : none;
	border:1px solid #FFFFFF;
	padding: 0;  
	background-color: #f0f0f0;
}
.m0l1oover {
	
	
	text-decoration : none;
	border:1px solid #FFFFFF;
	padding: 0;
	background-color: #c9c9c9;
}


/* level 2 inner */
.m0l2iout {
	margin: 3px 0px 0px 3px;
	color: #000000;
	border:none;
}
.m0l2iover {
	margin: 3px 0px 0px 3px;
	color:#000000;
}

/* level 2 outer */
.m0l2oout {
	text-decoration : none;
	border:1px solid #FFFFFF;
	padding: 0;
	background-color: #f0f0f0;
}
.m0l2oover {
	text-decoration : none;
	border:1px solid #FFFFFF;
	padding: 0;
	background-color: #c9c9c9;
}
