/******************************************
GLOBAL
******************************************/
body {
    margin:0;
    padding:0;
    text-align:justify;
    cursor:default;
    font-family:arial,tahoma,helvetica,sans-serif;
    font-size:12px;
}
body img {
    vertical-align:top;
} 
#loading {
    z-index: 9999999;
    filter: alpha(opacity=90); /**older IE **/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /** IE **/
    -moz-opacity: .90; /** older Mozilla **/
    -khtml-opacity: 0.9;   /** older Safari **/
    opacity: 0.9;   /** Mozilla, Safari, Opera **/
    background-color:#ffffff;
    position:fixed;
    /position:absolute;
    left:0;
    width:100%;
    height:100%;
    color:#b9001f;
    text-align:center;
    vertical-align:middle;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    cursor:default;
    overflow:hidden;
}
td {
    text-align:left;
}
a,a:visited {
    color:#b9001f;
    text-decoration:none;
}
a:hover {
    color:#b9001f;
    text-decoration:underline;
}
a img {
    border:none;
}
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
li.no_style {
    list-style-type:none;
}

/******************************************
LOGIN PAGE
******************************************/
p.consigne_login {
    margin-top:-15px;
    /margin-top:0; /* IE */
    margin-bottom:20px;
    color:#b9001f;
}
#bloc_login {
    width:414px;
    height:196px;
    background-image:url('../img/bloc_login.gif');
    background-repeat:no-repeat;
}
#div_login {
    position:relative;
    top:50px;
}
.input_login {
    padding:7px;
    width:300px;
    font-size:16px;
    color:#9c001a;
    background-image:url('../img/input_login.gif');
    background-repeat:no-repeat;
    border:none;
    margin-bottom:20px;
    border:1px solid #ccc;
}
#bloc_connexion {
    width:414px;
    height:46px;
    background-image:url('../img/bloc_connexion.gif');
    background-repeat:no-repeat;
}
#connexion {
    width:145px;
    height:46px;
    float:right;
    background:none;
    border:none;
    cursor:pointer;
}

/******************************************
HEADER
******************************************/
#header {
    width:1012px;
    height:157px;
    background-image:url('../img/header.jpg');
    background-repeat:no-repeat;
}
#header_line {
    width:100%;
    height:72px;
    background:#ededed;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
a.logo_header {
    float:left;
    margin-top:15px;
}
a#refresh {
    position:absolute;
    margin-left:770px;
    margin-left:795px\9;
    margin-top:16px;
    width:40px;
    height:35px;
    cursor:pointer;
}
    #body_menu {
            margin: 0;
            padding: 0;
            float:right;
            width:815px;
            height:54px;
            margin-top:12px;
			font-family:arial,tahoma,helvetica,sans-serif;
            font-size: 11px;
    }
    /**** Menu off ****/
    #body_menu li {
            float: left;
            list-style: none;
    }
    #body_menu li:hover {
            background-color:#ffffff;
            background-image:url('../img/menu_hover.gif');
            background-repeat:no-repeat;
            color:#000000;
    }
    #body_menu li a {
            display: block;
            background:none;
            text-decoration: none;
            width:170px;
            height:54px;
            color: #ffffff;
            white-space: nowrap;
    }
    #body_menu li:hover a {
            color: #000000;
    }
    #body_menu li ul {
            margin: 0;
            margin-top:-14px;
            padding: 0;
            padding-bottom:10px;
            position: absolute;
            visibility: hidden;
            width:168px;
            border:1px solid #d4d4d4;
            border-top:1px solid #ffffff;
            background:#ffffff;
            z-index:99999;
    }
    #body_menu li ul li {
            float: none;
            display: inline;
    }
    #body_menu li ul li a {
            width: auto;
            color:#2d2c2c;
            background:#ffffff;
            text-align:left;
            padding-top:6px;
            padding-bottom:6px;
            padding-left:15px;
            height:auto;
            font-size:11px;
    }
    #body_menu li ul li a:hover {
            color:#000000;
            background:#e6e3e3;
    }

    /**** Menu active ****/
    #body_menu li.active {
            float: left;
            list-style: none;
    }
    #body_menu li.active a {
            display: block;
            background-color:#ffffff;
            background-image:url('../img/menu_active.gif');
            background-repeat:no-repeat;
            text-decoration: none;
            width:170px;
            height:54px;
            color: #ffffff;
            white-space: nowrap;
    }
    #body_menu li.active a:hover {
            background-color:#ffffff;
            background-image:url('../img/menu_active.gif');
            background-repeat:no-repeat;
    }
    #body_menu li.active ul {
            margin: 0;
            margin-top:-14px;
            padding: 0;
            padding-bottom:10px;
            position: absolute;
            visibility: hidden;
            width:168px;
            border:1px solid #b3001e;
            background:#b9001f;
            z-index:99999;
    }
    #body_menu li.active ul li {
            float: none;
            display: inline;
    }
    #body_menu li.active ul li a {
            width: auto;
            background:#b9001f;
            text-align:left;
            padding-top:6px;
            padding-bottom:6px;
            padding-left:15px;
            height:auto;
            font-size:11px;
    }
    #body_menu li.active ul li a:hover {
            color:#ffffff;
            background: #9f001b;
    }
    span.menu_span {
            position:relative;
            top:15px;
            left:-5px;
            font-weight:bold;
    }
    img.icon_menu {
        position:relative;
        top:-1px;
    }
    p.menu_notif {
        display:inline;
        padding:4px;
        position:relative;
        left:5px;
        background:#fde338;
        border:1px solid #d1b604;
        color:#000;
        font-size:8px;
        letter-spacing:-0.015em;
        font-weight:bold;
    }
    
#user_log {
    float:left;
    line-height:16px;
    margin-left:18px;
    margin-top:10px;
    width:167px;
    height:71px;
    background-image:url('../img/user_log.gif');
    background-repeat:no-repeat;
    /cursor:default;
}
.user_log_content {
    text-align:left;
    padding:0;
    margin:0;
    margin-top:10px;
    color:#fff;
    width:135px;
    height:50px;
}
a.link_user {
    cursor:pointer;
    font-size:11px;
    color:#fff;
}
#body_btn_nouveau {
    float:left;
    position:relative;
    left:30px;
    top:35px;
    /top:25px; /* IE6+7 */
    top:35px\9; /* IE8 */
    /cursor:pointer;
}
a.link_nouveau {
    text-decoration:none;
    float:left;
    margin-right:2px;
    /cursor:pointer;
}
.btn_nouveau {
    font-size:11px;
    font-weight:bold;
    color:#969696;
    width:198px;
    height:34px;
    text-align:center;
    background-image:url('../img/btn_nouveau_off.gif');
    background-repeat:no-repeat;
    /cursor:pointer;
}
.btn_nouveau:hover {
    background-image:url('../img/btn_nouveau_on.gif');
    background-repeat:no-repeat;
    /cursor:pointer;
    color:#000;
}
.span_nouveau {
    position:relative;
    top:10px;
    /cursor:pointer;
}

/******************************************
CONTENT
******************************************/
#content {
    width:1012px;
    text-align:justify;
    margin-top:-15px;
    background-image:url('../img/content_body.gif');
    background-repeat:repeat-y;
    /background:#FFFFFF;
    position:relative;
    left:0;
    /margin-left:367px; /* IE6+7 */
}
/**** Colonne Gauche ****/
#content div.colonne_left {
    float:left;
    margin-top:10px;
    margin-left:-163px;
    width:160px;
    /margin-top:10px; /* IE6+7 */
    margin-top:-2px\9; /* IE8 */
}
#content div.colonne_left p.title_left {
    float:left;
    font-size:12px;
    text-transform:uppercase;
    font-weight:bold;
    font-family:segoe ui,helvetica,arial,tahoma,helvetica,sans-serif;
    position:relative;
    top:3px;
    position:relative\9; /* IE8 */
    top:5px\9; /* IE8 */
}
#content div.colonne_left p.title_left i.notif_left {
    color:#ae001c;
    font-size:9px;
    position:relative;
    top:-3px;
}
#content div.colonne_left p#plus_left {
    float:right;
    width:16px;
    height:15px;
    background-image:url('../img/btn_plus_off.gif');
    background-repeat:repeat-y;
    position:relative;
    top:3px;
    top:7px\9; /* IE8 */
    cursor:pointer;
}
#content div.colonne_left p#plus_left:hover {
    background-image:url('../img/btn_plus_on.gif');
    background-repeat:repeat-y;
}
#content div.colonne_left div.red_line {
    width:160px;
    height:4px;
    background-image:url('../img/line_red.gif');
    background-repeat:repeat-x;
    margin-top:-12px;
    margin-bottom:-8px;
}
#content div.colonne_left div.content_left {
    float:left;
    border:1px solid #fff !important;
    line-height:13px;
    margin-top:7px;
    margin-left:5px;
}
#content div.colonne_left div.content_left a.mini_link {
    font-size:9px;
}
#content div.colonne_left div.content_left span.mini_date {
    color:#7d7d7d;
    font-size:9px;
}
#content div.colonne_left div.content_left a.mini_link_content {
    color:#000;
    font-size:11px;
    line-height:12px;
}
#content div.colonne_left div.content_left p.indice_left {
    float:right;
    font-size:11px;
    font-weight:bold;
    color:#b9001f;
    margin-top:3px;
    margin-bottom:0;
}
#content div.colonne_left a {
    font-size:10px;
    color:#646464;
    font-weight:bold;
}
/**** Colonne Droite ****/
#content div.colonne_right {
    float:left;
    width:769px;
}
#content div.colonne_right div#title_line {
    /*cursor:pointer;*/
    margin-left:30px;
    margin-top:6px;
    margin-bottom:15px;
    font-size:15px;
    font-weight:bold;
    color:#fff;
    width:769px;
    height:36px;
    background-image:url('../img/title_line_off.gif');
    background-repeat:repeat-x;
}
/*#content div.colonne_right div#title_line:hover {
    background-image:url('../img/title_line_on.gif');
    background-repeat:repeat-x;
}*/
#content div.colonne_right div#title_line span.span_title_line {
    position:relative;
    left:20px;
    top:8px;
}
/**** Tableau ****/
#content div.colonne_right table.table_right {
    margin-left:37px;
}
#content div.colonne_right table.table_right td.td_title {
    color:#2c292b;
    font-size:14px;
    font-weight:bold;
    font-family:segoe ui,helvetica,arial,tahoma,helvetica,sans-serif;
    margin-bottom:10px;
}
p.stats_tableau {
    float:right;
    color:#b9001f;
    font-size:9px;
    font-style:italic;
    padding:0;margin:0;
    letter-spacing:0;
}
#content div.colonne_right table.table_right tr.tr_head {
    background:#d6d6d6;
    font-size:10px;
    font-weight:bold;
}
#content div.colonne_right table.table_right td.td_head {
    text-align:center;
    padding-bottom:8px;
    padding-top:8px;
}
#content div.colonne_right table.table_right td.td_content {
    font-size:11px;
    padding-bottom:10px;
    padding-top:10px;
    text-align:center;
}


#content div.colonne_right table.table_right td.td_content li.li_table a {
    color:#525151;
}
#content div.colonne_right table.table_right td.td_content li.li_table {
    list-style-type:square;
    color:#525151;
    margin-left:10px;
}
#content div.colonne_right table.table_right td.td_content span.td_num_red {
    color:#b9001f;
    font-weight:bold;
    font-style:italic;
}
#content div.colonne_right table.table_right td.td_content span.td_num_green {
    color:#038903;
    font-weight:bold;
    font-style:italic;
}
#content div.colonne_right table.table_right td.td_content a.link_edit {
    padding:8px;
    padding-top:2px;
    padding-bottom:0;
    background-image:url('../img/edit_off.png');
    background-repeat:no-repeat;
    position:relative;
    top:2px;
}
#content div.colonne_right table.table_right td.td_content a.link_edit:hover {
    background-image:url('../img/edit_on.png');
    background-repeat:no-repeat;
}
/**** Images ****/
#content div.colonne_right ul#sortable {
    list-style-type:none;
    padding:0;
    margin:0;
    margin-left:37px;
}
#content div.colonne_right ul#sortable li {
    height:75px;
    margin:5px;
    float:left;
    cursor:default;
}
#content div.colonne_right ul#sortable li a {
    padding:55px;
    padding-top:30px;
    padding-bottom:30px;
    background-color:#fff;
    background-position:center;
    background-repeat:no-repeat;
    border:1px solid #ccc;
}
#content div.colonne_right ul#sortable li .del_image {
    position:absolute;
    margin-top:-46px;
    margin-left:-2px;
    height:17px;
    width:17px;
    background-image:url('../img/del_single.gif');
    background-repeat:no-repeat;
    cursor:pointer;
    border:none;
    display:none;
}
.edit_video {
    z-index:999999;
    display:none;
    position:absolute;
    margin-top:-140px;
    width:232px;
    padding:5px;
    background:#c2203b;
    border-top:1px solid #a40822;
    border-bottom:1px solid #a40822;
    text-align:center;
}
.edit_video a {
    color:#fff;
    font-size:9px;
    font-weight:bold;
}


/******************************************
FOOTER
******************************************/
#footer_line {
    height:165px;
    width:100%;
    /position:absolute;
    /left:0;
    background-image:url('../img/footer_line.gif');
    background-repeat:repeat-x;
}
#footer {
    width:1012px;
    height:165px;
    background-image:url('../img/footer.jpg');
    background-repeat:repeat-x;
}
p.copyright_login {
    color:#9e9d9d;
    font-size:9px;
    padding-top:115px;
}
p.copyright_login a {
    color:#9e9d9d;
}
a.lien_tout {
    font-weight:bold;
    font-size:10px;
    float:right;
    text-transform:uppercase;
}
.top {
    position:absolute;
    margin-left:875px;
    margin-top:65px;
    font-size:10px;
    text-transform:uppercase;
}

/* Tooltip VTIP */
#vtip {
	display:none;
	position:absolute;
    margin-top:-15px;
    left:5px;
	padding:11px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:11px;
    font-weight:bold;
	color:#fff;
	background-color:#b9001f;
	z-index:9999;
}
#vtip #vtipArrow {
	position:absolute; 
	top:-10px;
	left:5px;
}

#icons {
	border:3px solid #eee;
	background:#f8f8f8;
	float:left;
	width:100px;
	padding:17px;
	padding-top:15px;
	padding-bottom:5px;
	margin:4px;
	cursor:pointer;
	font-size:12px;
	color:#8e8d8e;
	font-weight:bold;
    -moz-box-shadow:0 0 0 #fff;
    -moz-transition: box-shadow 0.25s ease;
	-webkit-transition: box-shadow 0.25s ease;
	transition: box-shadow 0.25s ease;
}
#icons:hover {
	color:#9c001a;
	border:3px solid #eee;
	background:#eee;
    -moz-box-shadow:0 1px 2px #5d5d5d;
    -moz-transition: box-shadow 0.25s ease;
	-webkit-transition: box-shadow 0.25s ease;
	transition: box-shadow 0.25s ease;
}

#alertbox {
	display:none;
	position:fixed;
	top:15px;
	left:15px;
	padding:40px;
	padding-top:20px;
	padding-bottom:20px;
	border:1px solid #000;
	background:#292929;
	font-size:11px;
	font-weight:bold;
	color:#fff;
    z-index: 9999;
    filter: alpha(opacity=90); /**older IE **/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /** IE **/
    -moz-opacity: .90; /** older Mozilla **/
    -khtml-opacity: 0.9;   /** older Safari **/
    opacity: 0.9;   /** Mozilla, Safari, Opera **/
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}
.text {
	padding:4px;
	font-family:arial,tahoma,helvetica,sans-serif;
	color:#5c5c5c;
	border:1px solid #ccc;
    background:#fff;
}
.text:focus {
    border:1px solid #efd006;
    background:#fdfae5;
}
.table_submit {
	font-family:arial,tahoma,helvetica,sans-serif;
	color:#509d46;
	font-size:10px;
	font-weight:bold;
	border:1px solid #a5db9d;
	background:#d8f4d4;
	text-transform:uppercase;
	padding:40px;
	padding-top:10px;
	padding-bottom:10px;
	cursor:pointer;
}
.table_submit:hover {
	color:#14560a;
	border:1px solid #4ea841;
	background:#80ea71;
}
.tooltip {
	position:absolute;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	background:#302b24;
	color:#fff;
	display:none;
	filter:alpha(opacity=80);
	-moz-opacity :0.8;
	-webkit-opacity :0.8;
	opacity:.8;
}
#submit_del {
	width:16px;
	height:16px;
	margin:3px;
	border:none;
	background:url('../../src/icons/cross.png') no-repeat;
	cursor:pointer;
	filter:alpha(opacity=60);
	-moz-opacity :0.6;
	-webkit-opacity :0.6;
	opacity:.6;
}
#submit_del:hover {
	filter:alpha(opacity=100);
	-moz-opacity :1;
	-webkit-opacity :1;
	opacity:1;
}
#submit_accept {
	width:16px;
	height:16px;
	margin:3px;
	border:none;
	background:url('../../src/icons/accept.png') no-repeat;
	cursor:pointer;
	filter:alpha(opacity=60);
	-moz-opacity :0.6;
	-webkit-opacity :0.6;
	opacity:.6;
}
#submit_accept:hover {
	filter:alpha(opacity=100);
	-moz-opacity :1;
	-webkit-opacity :1;
	opacity:1;
}
a.retour_off {
	float:left;
	margin-right:10px;
	position:relative;
	top:2px;
	filter:alpha(opacity=20);
	-moz-opacity :0.2;
	-webkit-opacity :0.2;
	opacity:.2;
	cursor:default;
}
a.retour_on {
	float:left;
	margin-right:10px;
	position:relative;
	top:2px;
	filter:alpha(opacity=100);
	-moz-opacity :1;
	-webkit-opacity :1;
	opacity:1;
}
select { cursor:pointer;}


.colonne_left li.menu_left{
    text-align:left;
    border:1px solid #ddd;
    padding:8px 8px;
    list-style-type:none;
    font-size:12px;
    font-weight:bold;
    color:#666;
    cursor:pointer;
    margin-bottom:4px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.10) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.10))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.colonne_left li.menu_left:hover{
    border:1px solid #ddd;
    padding:8px 8px;
    list-style-type:none;
    font-size:12px;
    font-weight:bold;
    color:#000;
    cursor:pointer;
    background:#EDEDED;
}
.colonne_left li.menu_left_active{
    border:1px solid #910222;
    padding:8px 8px;
    list-style-type:none;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    margin-bottom:4px;
    cursor:default;
    background: rgb(170,0,40); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(170,0,40,1) 0%, rgba(197,3,48,1) 56%, rgba(218,4,54,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,0,40,1)), color-stop(56%,rgba(197,3,48,1)), color-stop(100%,rgba(218,4,54,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(170,0,40,1) 0%,rgba(197,3,48,1) 56%,rgba(218,4,54,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(170,0,40,1) 0%,rgba(197,3,48,1) 56%,rgba(218,4,54,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(170,0,40,1) 0%,rgba(197,3,48,1) 56%,rgba(218,4,54,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(170,0,40,1) 0%,rgba(197,3,48,1) 56%,rgba(218,4,54,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0028', endColorstr='#da0436',GradientType=0 ); /* IE6-9 */
}
#content div.colonne_left li.menu_left div.submenu_left{
    text-align:left;
    display:none;
}
#content div.colonne_left li.menu_left_active div.submenu_left{
    text-align:left;
    display:block;
    margin-top:7px;
    line-height:14px;
}
#content div.colonne_left li.menu_left div.submenu_left a{
    font-weight:normal;
    font-size:11px;
}
#content div.colonne_left li.menu_left_active div.submenu_left a{
    color:#fff;
    font-weight:normal;
    font-size:11px;
}
#content div.colonne_left li.menu_left_active div.submenu_left hr{
    background:none;
    border:none;
    border-top:1px solid #fff;
}
#content div.colonne_left li.menu_left_active div.submenu_left hr.light{
    background:none;
    border:none;
    border-top:1px dotted #eee;
    padding:0;
    opacity:0.5;
}
#content div.colonne_left li.menu_left div.submenu_left hr{
    background:none;
    border:none;
    border-top:1px solid #fff;
}