* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 14px;
}

a {
	color: #89B2D8;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #3B395D;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 1000px;
		height: 470px;
		overflow: hidden;
		margin: 40px auto;
		margin-top:23px;
		position: relative;
		left:15px;
	}
		#dates {
			width: 150px;
			height: 470px;
			overflow: hidden;
			float: left;
			margin-left: 10px;
		}
			#dates li {
				list-style-type: none;
				width: 150px;
				height: 68px;
				line-height: 70px;
				font-size: 24px;
				padding-left: 30px;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width: 760px;
			height: 470px;
			overflow: hidden;
			float: left;
		}	
			#issues li {
				
				width: 750px;
				height: 470px;
				list-style: none;
				
			}
				#issues li img {
					margin: 60px 0 0 70px;
				}
				#issues li h1 {
					color: #666;
					font-size: 100px;
					text-align: right;
					padding-top: 200px;
					
				}
				#issues li p {
					font-size: 20px;
					font-weight: normal;
					line-height: 35px;
					color:#444444;
					text-shadow: 2px 2px #ffffff 0px;
					padding:20px;
					background:#ffffff;
					text-align:right;
					width: 600px;
					margin-left:120px;
				}
				#issues li img.arrow-p {
					margin-bottom:-10px;
					margin-right:50px;
					float:right;
				}
		
		#grad_top,
		#grad_bottom {
			width: 500px;
			height: 80px;
			position: absolute;
			display:none;
		}
			#grad_top {
		        top: 0;
		        background: url('../images/grad_top.png') repeat-x;
			}
			#grad_bottom {
		        bottom: 0;
		        background: url('../images/grad_bottom.png') repeat-x;
			}
		
		#next,
		#prev {
			position: absolute;
			left: 55%;
			font-size: 70px;
			width: 38px;
			height: 22px;
			background-position: 0 -44px;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
			display:none;
		}
			#next:hover,
			#prev:hover {
				background-position:  0 0;
			}
			#next {
				bottom: 0;
				background-image: url('../images/next_v.png');
			}
			#prev {
				top: 0;
				background-image: url('../images/prev_v.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}