/*Créé */
* {
    margin:0;
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /*code couleur ie : background-color:#ac1816*/
    font-family:  Arial,Tahoma, Helvetica, Verdana, "Trebuchet MS", "Lucida Grande", Sans-Serif;
    font-size:12px;

}

#main {
    margin:0 auto;
    height:100%;
    position:relative;
}


html>body #main {
    min-height:100%;
    height:auto;
}

#header {
    height:41px;
    background-color:#979b9a;
    margin-left:auto;
    margin-right:auto;
    background:url('../images/header_bg.png') repeat-x;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 3px solid #424DA6;

}

#divDeconnexion {
    color:#424DA6;
    font-size:11px;
    text-align:right;
    margin-top:3px;
    margin-right: 3px;
}

#divDeconnexion a, #divDeconnexion a:visited  {
    color:#424DA6;
    text-decoration:underline;
}

#menu{
    background-color:#f0f0f0;
    height: 20px;
    width: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height:30px;
    width:100%;
    text-align:center;
    color:#a0a0a0;
    padding-top:2px;
}

#corps {
    height:400px;
    padding-bottom:55px;
    padding-top:20px;
}

html>body #corps {
    min-height:400px;
    height:auto;
}

img {
    border:none;
    margin:0;
    padding:0;
}

/*--------DIV-------*/

.spacer {clear:both;height:0;font-size:0;}

#global_login {
    height:180px;
    width:388px;
    border:1px solid #aeaeae;
    margin-top:12%;
    margin-right:auto;
    margin-left:auto;
    padding : 15px 5px;
    
    background-position: bottom right;
}

#login {    
    width:314px;
    margin-right:auto;
    margin-left:auto;    
    color: #666666;
    font-weight: bold;
    
}

html>body #login {
    width:308px;
}

div.formrow {
    margin-bottom : 10px;
}

.barre_title {
    border : 0 solid #CECECE;
    height : 70px;
    margin : 0 auto;
    position : relative;
    width : 99%;
}

.text_title {
    color : #B6201D;
    font-family : Arial;
    font-size : 22px;
    font-weight : bold;
    left : 0;
    position : absolute;
    top : 20px;
}

/*------- POPUP ------*/

.popup {
    background-color:#FFFFFF;
    border:2px solid #cecece;
}

.popup_menu {
   
    border-bottom: 1px solid #cecece;
    padding: 4px 3px 3px 3px;
    background: url("../images/bg_popup_menu.png") repeat-x;
    background-position:bottom;
    background-color: #fdfdfd;
    height:17px;
    font-weight:bold;
    color:#B6201D;
    font-size:14px;

}

.popup_content {
    padding: 5px 5px;
    background-color:#fafafa;
}

.popup_close {
    
    position:absolute;
    right:4px;
    top:4px;
}

hr {
	border:none;
	border-top:1px solid #CECECE;
	background:none;
	height:0;
	
}


/*------- TITRE ------*/

h1 {
    margin-bottom:15px;
    font-size:22px;
}


/*--------LABEL-------*/

label {
    display:block;
    float:left;
    padding:0;
    margin:0;
    margin-right:2px;
    padding-top:4px;
    color:#666666;
    font-weight:bold;
}

label.in-line {
    display:inline;
    float:none;
}

label.fnone {
    float:none;
}

/*------ INPUT -------*/

input,select, textarea {
    font-family:  Arial,Tahoma, Helvetica, Verdana, "Trebuchet MS", "Lucida Grande", Sans-Serif;
}

/*----- FIELDSET -----*/
fieldset{
    border: none;
    margin:0;
    padding:0;
}

/*----- LINK ------*/

a, a:visited {
    color:#005599;
    text-decoration: none;
}

a:hover {
    color:#b6201d;
}

/*------ CLASS ------- */

.w50 {width : 50px;}
.w80 {width : 80px;}
.w100 {width : 100px;}
.w150 {width : 150px;}
.w175 {width : 175px;}
.w200 {width : 200px;}
.w220 {width : 220px;}
.w250 {width : 250px;}
.w270 {width : 270px;}
.w285 {width : 285px;}
.w292 {width : 292px;}
.w300 {width : 300px;}
.w350 {width : 350px;}
.w360 {width : 360px;}
.w380 {width : 380px;}
.w400 {width : 400px;}
.w450 {width : 450px;}
.w460 {width : 460px;}
.w500 {width : 500px;}
.w1000 {width : 1000px;}

.w90p {width : 90%;}
.w94p {width : 94%;}
.w97p {width : 97%;}
.w98p {width : 98%;}

.h5 {height:5px;}

.auto {margin-left:auto; margin-right:auto;}

.fs11 {font-size : 11px;}
.fs12 {font-size : 12px;}

.mgT20 {margin-top:20px;}
.mgT15 {margin-top:15px;}
.mgT10 {margin-top:10px;}
.mgT5 {margin-top:5px;}

.mgB25 {margin-bottom:25px;}
.mgB15 {margin-bottom:15px;}
.mgB10 {margin-bottom:10px;}

.mgL35 {margin-left:35px;}
.mgL20 {margin-left:20px;}
.mgL10 {margin-left:10px;}
.mgL5 {margin-left:5px;}

.left {text-align : left;}
.center {text-align : center;}
.right {text-align : right;}

.red {color : #b6201d;}
.dark_blue {color : #005599;}
.grey {color : #909090;}
.orange{ color: #E67200;}

.bold {font-weight:bold;}

.float_left {float:left;}
.float_right {float:right;}
.absolute {position:absolute;}

.compulsoryFieldStar{
    color: #B6201D;
    padding-left:3px;
    font-weight: bold;
    font-size:14px;
}

div.msg_error{
    text-align:center;
    font-weight:bold;
    font-size:15px;
    margin-bottom:10px;
    color: #ff0000;
}
div.msg_ok{
    text-align:center;
    font-weight:bold;
    font-size:15px;
    margin-bottom:10px;
    color: green;
}


.label_formdesign{
    width: 250px;
}

.input_formdesign{
    width: 240px;
}
select.input_formdesign{
    width: 245px;
}


.label_formconfig{
    width: 250px;
}

.input_formconfig{
    width: 250px;
}

select.input_formconfig{
    width: 255px;
}


#flagsarea{
    float: right;
    
}

#flagsarea img{
    padding-top: 2px;
    padding-right: 3px;
    height: 16px;

}