body {
	background-color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;	
	background-image: url(../images/fond-global2.jpg);
	background-position: top center;
	background-repeat: repeat-x;
}

body.type {
	background-image: url(../images/fond-global-type.jpg);	
}

a img {
	border: none;	
}

a {
	color: #444444;
}

#wrapper, #footer, #bandeau {
	width: 1000px;
	margin: auto;
	
}

#wrapper #header a.logo {
	margin-left: 0px;
	width: 280px;
	display: block;	
	margin-top: 35px;
	float: left;
}

#wrapper #header .menutop {
    display: block;
    float: left;
    width: 525px;
}

#wrapper #header .menutop a {
	display: block;
	float: left;
	height: 45px;
	margin-top: 75px;
	width: 115px;	
	background-repeat: no-repeat;
	background-position: top left;
	-moz-transition: background-position 0.3s ease;
	-o-transition: background-position 0.3s ease;
	-ms-transition: background-position 0.3s ease;
	-webkit-transition: background-position 0.3s ease;
	transition: background-position 0.3s ease;
}

#wrapper #header .menutop a:hover {
	background-repeat: no-repeat;
}

#wrapper #header .menutop a.medical {
	background-image: url("../images/bg-top-medical.png");	
}
#wrapper #header .menutop a.pharma {
	background-image: url("../images/bg-top-pharma.png");	
}
#wrapper #header .menutop a.formation {
	background-image: url("../images/bg-top-formation.png");	
	background-position: 0px -56px;	
}
#wrapper #header .menutop a.recrutement {
	width: 140px;
	background-image: url("../images/bg-top-recrutement.png");	
}

#wrapper #header .menutop a.medical:hover, #wrapper #header .menutop a.pharma:hover, #wrapper #header .menutop a.formation:hover, #wrapper #header .menutop a.recrutement:hover {
	background-position: 0px -56px;	
	-moz-transition: background-position 0.3s ease;
	-webkit-transition: background-position 0.3s ease;
	-o-transition: background-position 0.3s ease;
	-ms-transition: background-position 0.3s ease;
	transition: background-position 0.3s ease;
}

#wrapper #header .menutop a img {
	height: 45px;
	width: 125px;	
}

#wrapper #header p.coordonnees {
    background-color: #FFFFFF;
    color: #444444;
    display: block;
    float: left;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 0;
    padding: 5px 15px 15px;
}

#bandeau {
	margin-top: 0px;
	height: 495px;
}
#bandeau_timeline {
	height:472px;
	margin: auto;
	width:1000px;
	background-image: url("../images/bg-chiffres.png");
}
#bandeau_oppsis {
	height:505px;
	margin: auto;
	margin-top:30px;
	width:1000px;
	background-image: url("../images/header-oppsis.png");
}
.texte_oppsis {
	width:390px;
	font-size:16px;
	line-height:24px;
	position:relative;
	top:140px;
	left:550px;
}

.article_left{
	margin-top:40px;
	float:left;
	width:450px;
	padding-right:50px;
	border-right:6px solid #d1d1d1;
}
.article_right{
	margin-top:40px;
	float:right;
	width:450px;
	padding-left:30px;
}
.article_left img,.article_right img{
	position:relative;
	top:5px;
}
.article_left span,.article_right span{
	font-weight:bold;
	font-size:16px;
	margin-left:15px;
}
.article_left p,.article_right p{
	width:420px;
	padding-bottom:30px;
	margin-left:20px;
	margin-bottom:30px;
	color:#6D6D6D;
	border-bottom:2px solid #c7c7c7;
	line-height:21px;
}

#bandeau #flash-content {
	width: 700px;
	float: left;
	margin-top: 15px;
}

#bandeau #candidats {
	float: left;
	width: 300px;	
	background-position: center top;
	height: 526px; 	
}

#bandeau2 {
	height: 500px;	
}

#bandeau2 img {
	margin-left: 250px;
	margin-top:20px;
	float: left;
}

#bandeau2 p {
	float: left;
	margin-left: 280px;
	width: 570px;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #474747;
	margin-top: 0px;
}

#bandeau a.gsa-groupe, #bandeau2 a.gsa-groupe {
    background-color: #B3B3B3;
    background-image: url("../images/bg-btn-groupe.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: #444444;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 30px;
    margin-left: 55px;
    margin-top: 9px;
    padding-left: 24px;
    text-decoration: none;
    text-transform: uppercase;
    width: 155px;
}

#bandeau a.contact, #bandeau2 a.contact {
    background-image: url("../images/contact.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 48px;
    line-height: 48px;
    margin-left: 16px;
    margin-top: -1px;
    padding-left: 38px;
    text-decoration: none;
    text-transform: uppercase;
    width: 204px;
}

#bandeau a.contact:hover, #bandeau2 a.contact:hover, #bandeau a.retour-accueil:hover, #bandeau2 a.retour-accueil:hover {
	font-weight: bold;	
}

#bandeau a.retour-accueil, #bandeau2 a.retour-accueil {
    background-color: #E16F25;
    background-position: center center;
    background-repeat: no-repeat;
    color: #F5F5F5;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 30px;
    margin-left: 14px;
    margin-top: 9px;
    padding-left: 24px;
    text-decoration: none;
    text-transform: uppercase;
    width: 128px;
    background-image: url("../images/bg-btn-accueil.png");
}

#bandeau #candidats img.accroche {
	margin-left: 60px;
	margin-top: 20px;
}

#bandeau #candidats p {
    font-size: 16px;
    line-height: 22px;
    margin-left: 110px;
    margin-top: 200px;
    width: 160px;
}

#bandeau #candidats ul {
	display: block;
	margin-top: 100px;
	margin-left: 40px;
	background-color: #ffffff;
	padding: 20px;
	padding-left: 30px;
	width: 200px;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	-o-border-radius: 10px;
}

#bandeau #candidats ul li {
	list-style-type: none;
}

#bandeau #candidats ul li a {
	text-decoration: none;
	color: #444444;	
}

#bandeau #candidats ul li a:hover {
	text-decoration: underline;	
}



/* CONTENU */

#contenu {
	float: left;
	width: 1000px;
	margin-top: 80px;	
}

#contenu #edito, #contenu #edito .video, #contenu #edito .intro  {
	float: left;
}

#contenu #edito .intro {
	width: 60%;
	margin-left: 40px;
	color: #707070;
}

#contenu #edito .intro p {
	width: 540px;		
	float: left;
}

#contenu #blocs {
	float: left;	
	margin-top: 40px;
}

#contenu #blocs .col25 {
	float: left;
	width: 250px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 250px;
}

#contenu #blocs .col25 h3 {
	font-weight: bold;
	color: #000000;
	width: 150px;
	text-align: left;
	margin-left: 60px;
}

#contenu #blocs .col25 p {
    color: #707070;
    margin-left: 70px;
    text-align: center;
    width: 100px;
    background-color: #f5f5f5;
    padding: 05px;
    -moz-border-radius: 05px;
    -o-border-radius: 05px;
    -ms-border-radius: 05px;
    -webkit-border-radius: 05px;
    border-radius: 05px;
}

#contenu #blocs .col25 a {
	color: #5A93C9;
	font-weight: bold;	
}

#contenu #type-colgauche {
	float: left;
	width: 180px;
	margin-right: 15px;	
}

#contenu #type-colgauche ul {
	margin-left: 20px;	
	padding-left: 0px;
}

#contenu #type-colgauche ul li {
	display: block;	
	background-color: #A1A1A1;
	color: #ffffff;	
	padding: 10px;
	height: 65px;
	margin-bottom: 10px;
}

#contenu #type-colgauche ul li.interne {
	background-color: #ea6723;	
	background-image: url("../images/bg-bloc-gauche.png");
	-moz-border-radius: 05px;
	-webkit-border-radius: 05px;
	-ms-border-radius: 05px;
	-o-border-radius: 05px;
	border-radius: 05px;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
	border: 2px solid #fe6719;
}

#contenu #type-colgauche ul li.interne:hover {
	background-color: #f2661d;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}


#contenu #type-colgauche ul li {
	background-color: #ea6723;
	background-image: url("../images/bg-btn-retour.jpg");	
}

#contenu #type-colgauche ul li.interne a {
	color: #ffffff;
}

#contenu #type-colgauche ul li a {
    color: #000000;
    font-weight: normal;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#contenu #type-central {
	float: left;
	width: 550px;
	margin-left: 50px;	
	border-right: 2px dashed #e3e3e3;
}

#contenu #type-central .para, #contenu #type-central br  {
	//float: left;
}

#contenu #type-central .para img {
	float: left;
	margin: 10px;
	margin-top: 20px;
}

#contenu #type-central .para h3, #contenu #type-central .para p {
/*	float: left;
	width: 40%;*/
	padding-left: 15px;	
	margin-right: 20px;
}

#contenu #type-central .para h3 {
	font-weight: bold;
	font-size: 14px;	
}

#contenu #type-central .para p {
	color: #707070;
}

#contenu #type-coldroite {
	float: left;
	width: 160px;
	margin-left: 40px;	
}

#contenu #type-coldroite p {
	color: #707070;	
}

/* FOOTER */

#footer p {
	margin: 0px;	
}

#footer #ss-footer {
	width: 1000px;
	margin: auto;
}	

#footer #ss-footer a img {
	float: left;
	margin: 10px 05px;
}
	
#footer #ss-footer div {
	float: left;
	width: 250px;
}

#footer #ss-footer div span {
	margin-top: 20px;
	display: block;
	padding: 20px 70px;
	background-image: url("../images/bg-plan.jpg");
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

#footer #ss-footer div span a {
	background-color: #ffffff;
	display: block;	
	text-align: center;
	text-decoration: none;
	padding: 10px;
	-moz-border-radius: 05px;
	-webkit-border-radius: 05px;
	-ms-border-radius: 05px;
	-o-border-radius: 05px;
	border-radius: 05px;
	color: #444444;
}

#footer #ss-footer div h2, #footer #ss-footer div p {
	background-color: #ffffff;
	margin: 0px;	
	padding: 10px;
}

#footer #ss-footer div p {
	font-size: 12px;
	line-height: 14px;
	margin-top: 0px;
	padding-top: 0px;
}

#footer #ss-footer div h2 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;	
	padding: 05px;
	text-align: center;
}

#footer #ss-footer p {
	text-align: center;
}
#footer  p.lien_footer  {
	font-size:12px;
	color:#707070;
}
#footer  p.lien_footer a,#footer  p.lien_footer a:visited {
	color:#707070;
	text-decoration:none;
}
#footer  p.lien_footer a:hover {
	text-decoration:underline;
}

/* PAGE CHIFFRES CLES */

#les-chiffres {
	float: left;
	color: #444;
	background-image: url("../images/bg-bloc-chiffres.jpg");
	background-position: -75px top;
	padding-top: 170px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e3e3e3;
}

#les-chiffres #chiffres1 {
	display: block;
	float: left;
	width: 300px;	
	margin-right: 40px;
}

#les-chiffres #chiffres1 span.rond6 {
	float: left;
	display: block;
	padding: 30px 45px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	-ms-border-radius: 80px;
	-o-border-radius: 80px;
	border-radius: 80px;
	font-size: 120px;
	line-height: 100px;	
	background-color: #4F5E9C;
	color: #ffffff;
	border: 3px solid #7F8EBF;
	box-shadow: 10px 10px #4F5E9C 0px;
	margin-right: 15px;
}

#les-chiffres #chiffres1 span {
	font-size: 34px;
	line-height: 34px;
}

#les-chiffres #chiffres1 p {
	margin-top: 20px;
	font-size: 14px;
}

#les-chiffres #chiffres2 {
	float: left;
	width: 370px;
	margin-right: 40px;
}

#les-chiffres #chiffres2 span.effectifs {
	font-size: 90px;	
	float: left;
	display: block;
	height: 90px;
	width: 170px;
	line-height: 90px;
	font-weight: normal;
}

#les-chiffres #chiffres2 hr {
	clear: left;
	border: 1px solid #444;
}

#les-chiffres #chiffres2 span {
	float: left;
	display: block;
	width: 200px;
	margin-top: 0px;
	padding-top: 0px;	
	font-weight: normal;
	font-size: 18px;
}

#les-chiffres #chiffres2 p {
	margin-top: 20px;	
}

#les-chiffres #chiffres2 span, #les-chiffres #chiffres2 p {
	float: left;	
}

#les-chiffres #chiffres3 {
	float: left;
	width: 230px;	
}

#les-chiffres #chiffres3 span {
	float: left;
	display: block;
	padding: 20px 70px;
	font-size: 120px;
	line-height: 100px;	
	background-color: #4F5E9C;
	color: #ffffff;
	border: 3px solid #7F8EBF;
	box-shadow: 10px 10px #4F5E9C 0px;
	margin-left: 10px;
	margin-bottom: 05px;
	
}

#les-chiffres #chiffres3 {
	text-align: center;	
}

#equipe {
	margin-top: 30px;
	width: 980px;
	float: left;
	background-color: #f2f2f2;	
}

#equipe div {
	float: left;
	display: block;
	width: 16%;
	padding: 1%;
	margin: 1%;
	height: 370px;
	color: #444444;
}

#equipe div h4, #equipe div h5 {
	color: #444444;
	text-align: left;
}
	
#equipe div p {
	font-size: 12px;	
}

#equipe div.membre1 {
	background-color: #ffffff;	
}

#equipe div.membre2 {
	background-color: #f5f5f5;	
}

#equipe div img {
	margin-top: 05px;
	border: 2px solid #ffffff;	
}

#partenaires {
	background-color: #D6D6D6;
	float: left;
	margin-top: 30px;
	width: 980px;
	height: 112px;
}
	
#partenaires span {
	display: block;
	float: left;
	margin-left: 30px;
	margin-right: 30px;	
	height: auto;
}

#partenaires span img {
	margin: 0;	
}

#partenaires img {
	margin-top: 10px;
	margin-left: 20px;	
}
#bandeau_oppsis {
	margin-top:25px;
}
#footer #ss-footer .bloc_pole {
	float:left;
	width:749px;
	height:159px;
	background:url('../images/bg_footer.jpg') no-repeat;
}	
#footer #ss-footer .bloc_pole p {
	float:left;
	width:250px;
}	
#footer #ss-footer a img { 
	float: left; 
}	

#footer #ss-footer .blocs-footer {
    display: block;
    float: left;
    margin-left: 200px;
    width: 600px;
}

#footer {
	width: 100%;
	float: left;
	background-color: #f9f9f9;
		
}

/*  PAGE CONTACT */

.carte-visite {
    background-color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 201px;
    margin-left: 10px;
    margin-top: 15px;
    padding: 0 20px 20px;
}

.carte-visite a {
	color: #444444;
	text-decoration: none;
}

.carte-visite a:hover {
	text-decoration: underline;	
}

.map {
	float: left;
	margin-left: 280px;	
	margin-top: 15px;
}

form {
	margin-left: 30px;
	float: left;	
	width: 480px;
}

form span {
	float: left;
	padding: 15px;
	width: 450px;	
}

form span.b {
	background-color: #fafafa;	
}

form span label {
	width: 200px;	
	display: block;
	float: left;
	line-height: 30px;
}

form span input {
	float: left;	
	border: 1px solid #444444;
	height: 25px;
	font-size: 14px;
}

form span input[type=submit] {
	margin-left: 180px;	
}

form span textarea {
	float: left;
	width: 440px;
	height: 300px
}


/* engagements */

#contenu #type-central .para.article p {
	width: 90%;
	margin-left: 20px;
}

#contenu #type-central .para.article p.chapeau {
	font-weight: bold;	
}

	
#contenu #type-coldroite ul {
	margin-left: 0px;
	padding-left: 0px;
}

#contenu #type-coldroite ul li {
	list-style-type: none;
	margin-top: 02px;
	width: 100%;
}

#contenu #type-coldroite ul li a {
	display: block;
	padding: 05px;
	background-color: #e3e3e3;
	color: #000000;
	text-decoration: none;
}

#contenu #type-coldroite ul li a:hover {
	background-color: #f5f5f5;	
}

p.michroma22 {
	padding-top:0;
	margin-top:-8px;
    font-size: 15px;
    font-family: 'Michroma',sans-serif;
    height: auto;
    line-height: 28px;
    width: 540px;
	color:#383838;
}
p.michroma20 {
	padding-top:0;
    font-size: 20px;
    font-family: 'Michroma',sans-serif;
    line-height: 27px;
    width: 475px;
}
p.michroma20 span {
	color:#000000;
}
img.arrow{
	position:relative;
	top:3px;
}
.left {
	float:left;
}





/*ABOUT-OUR-COMPANY*/
.about-our-company {
	width:590px;
	float:left;
	margin:0 20px 0 0;
}
.about-our-company h2,
.left-container h2 {
	font-size:35px;
	padding-bottom:15px;
	margin:0 0 15px 0;
    font-family:'Terminal Dosis',sans-serif;
}
.left-container h2 {
	color:#C50505;
	padding-bottom:23px;
    cursor:pointer;
}
.left-container h2:hover {
	color:#333;
}
.left-container h3 {
	font-size:16px;
	padding-bottom:5px;
	border-bottom:1px solid #c6c6c6;
	margin:0 0 15px 0;
}
.about-our-company span,
.about-us span {
	font-size:18px;
	display:block;
	margin:0 0 25px 0;
	color:#C50505;
    font-family:'Terminal Dosis',sans-serif;
    line-height:24px;
}

.about-us li {
	float:none;
	list-style-type:none;
	padding:5px;
	width:590px;
	border-bottom:1px dotted #ccc;
}
.about-us li a {
	font-size:15px;
	color:#333;
	text-decoration:none;
}
.about-us li a:hover {
	color:#C50505;
	text-decoration:underline;
}

.about-us img {
	/*
	width:80px;
	height:80px;
	*/
	float:left;
	margin:5px 15px 0 0;
}


			
.boxgrid{ 
    width: 211px; 
    height: 157px; 
    margin:5px; 
    float:left; 
    border:none; 
    overflow: hidden; 
    position: relative;
}
    .boxgrid img{ 
        position: absolute; 
        top: 0; 
        left: 0; 
        border: 0; 
        margin:0;
    }
    .boxgrid p{ 
		width: 211px; 
		height: 157px; 
    }
    .boxgrid p a{         
        color:#383838; 
        text-decoration:none;
        padding:4px 8px 4px 8px;
        background:#fff;
        font-size:11px;
    }
    .boxgrid p a:hover{     
        background:#eee;
        color:#000;
    }


.boxcaption{ 
    float: left; 
    position: absolute; 
    background: #000; 
    height: 100px; 
    width: 100%; 
    opacity: .8; 
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.captionfull .boxcaption {
    top: 260;
    left: 0;
}
.caption .boxcaption {
    top: 220;
    left: 0;
}











