#container980{
    width: 980px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
#subheader{
    width: 100%;
}
#languesdisplay{
    float: right;
}
#languesdisplay img{
    height: 17px;
    cursor: pointer;
    margin-left: 3px;
}
.spacer{
    clear: both;
    font-size: 0px;
}
#middle{
    width: 980px;
}
div.menu_element{
    padding-left: 10px;
}
div.contenttitle h1{
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
fieldset{
    border: none;
}
div.searchRow{
    padding-bottom: 10px;
}
div.label{
    float: left;
    width: 100px;
}
div.input{
    float: left;
}
div.input input{
    width: 200px;
}
div.input select{
    width: 205px;
}
div.offre-intro{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
div.row1{
    font-size: 15px;
}
div.intitule h2{
    font-size: 15px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
div.row2{
    font-size: 14px;
}
#inituleFiche{
    float: left;
}
#refFiche{
    float: right;
}
#detailOffreContent{
}
#ficheLeft{
    width: 420px;
    float: left;
}
#ficheRight{
    float: right;
    width: 280px;
    color: #A0A0A0;
}
#infocomp img{
    cursor: pointer;
}
#buttonsarea{
    margin: 0 auto;
    width: 250px;
}
#buttonsarealist{
}
#rechercherbtn{
    width: 130px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}
#retour{
    width: 100px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    float: left;
}
#postuler{
    width: 100px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    float: right;
}
#footer{
    width: 980px;
    height: 100px;
}
.candidature_formrow{
    padding-bottom: 3px;
}
.inputc{
    float: left;
}
#experience_bloc_add span{
    cursor: pointer;
}
div.experience_bloc_del span{
    cursor: pointer;
}
#formation_bloc_add span{
    cursor: pointer;
}
div.formation_bloc_del span{
    cursor: pointer;
}
#langue_bloc_add span{
    cursor: pointer;
}
div.langue_bloc_del span{
    cursor: pointer;
}
#btn_envoyer{
    width: 100px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
#btn_connexion{
    width: 100px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
#location_popup_menu{
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #A0A0A0;
    width: 204px;
    top: 100px;
    left: 140px;
    font-size: 12px;
    display: none;
}
div.hoverbale:hover{
}
.spanexp{
    font-size: 15px;
    padding-right: 4px;
    padding-left: 2px;
    font-weight: bold;
    cursor: pointer;
}
.pays_title{
    font-weight: bold;
}
.pays_value{
    cursor: pointer;
}
.pays_content{
    display: none;
}
.region_title{
    padding-left: 12px;
}
.region_value{
    cursor: pointer;
}
.region_content{
    display: none;
}
.ville_title{
    padding-left: 35px;
    cursor: pointer;
}
.messageok{
    text-align: center;
    color: green;
    padding-bottom: 10px;
}
.messagenotok{
    text-align: center;
    color: red;
    padding-bottom: 10px;
}
#pagination{
    text-align: center;
}
.pactive{
    text-decoration: underline;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    height: 100%;
    color: #58585A;
}
#header{
    width: 980px;
    height: 70px;
    background-image: url('../images/logo/header.jpg');
    background-repeat: no-repeat;
}
#pathway{
    color: #A0A0A0;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    float: left}
#pathway a{
    color: #A0A0A0;
    text-decoration: none;
}
#pathway a:hover{
    color: #E67200;
}
.motdepasselink{
    color: #A0A0A0;
    font-size: 12px;
    text-align: left;
    width: 355px;
}
.motdepasselink a{
    color: #A0A0A0;
    text-decoration: none;
}
.motdepasselink a:hover{
    color: #E67200;
}
#subheader2{
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    font-size: 14px;
    color: #A0A0A0;
}
#subheader2 a{
    text-decoration: none;
    color: #A0A0A0;
}
#subheader2 a:hover{
    color: #E67200;
}
#menu{
    width: 200px;
    float: left;
    color: #00A8DD;
}
#menu a{
    color: #00A8DD;
    text-decoration: none;
}
#menu a:hover{
    color: #E67200;
}
#content{
    float: left;
    border-left: 2px solid #424DA6;
    width: 748px;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}
div.contenttitle{
    border-bottom: 2px solid #424DA6;
    width: 100%;
    font-weight: bold;
    color: #424DA6;
    font-size: 16px;
}
.buttonclass{
    border: 2px solid #424DA6;
    color: #424DA6;
}
.labeldesign{
    color: #58585A;
}
.inputdesign{
    color: #58585A;
}
span.compulsorystar{
    color: red;
}
.labelc{
    float: left;
    width: 270px;
    color: #58585A;
}
.inputc input{
    width: 250px;
    color: #58585A;
}
.inputc textarea{
    width: 250px;
    color: #58585A;
}
.inputc select{
    width: 255px;
    color: #58585A;
}
#experience_bloc_top{
    font-weight: bold;
    color: #424DA6;
    padding-top: 5px;
}
#formation_bloc_top{
    font-weight: bold;
    color: #424DA6;
    padding-top: 5px;
}
#langue_bloc_top{
    font-weight: bold;
    color: #424DA6;
    padding-top: 5px;
}
#experience_bloc_add{
    text-align:right;
    width:455px;
    color: #00A8DD;
}
#experience_bloc_add span:hover{
    color: #E67200;
}
#formation_bloc_add{
    text-align:right;
    width:455px;
    color: #00A8DD;
}
#formation_bloc_add span:hover{
    color: #E67200;
}
#langue_bloc_add{
    text-align:right;
    width:455px;
    color: #00A8DD;
}
#langue_bloc_add span:hover{
    color: #E67200;
}
div.experience_bloc_del{
    text-align:right;
    width:455px;
    color: #00A8DD;
}
div.experience_bloc_del span:hover{
    color: #E67200;
}
div.formation_bloc_del{
    text-align:right;
    width:455px;
    color: #00A8DD;
}
div.formation_bloc_del span:hover{
    color: #E67200;
}
div.langue_bloc_del{
    text-align:right;
    width:455px;
    color: #00A8DD;
}
div.langue_bloc_del span:hover{
    color: #E67200;
}
div.intitule{
    float: left;
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    color: #00A8DD;
}
div.intitule a{
    text-decoration: none;
    color: #00A8DD;
}
div.intitule a:hover{
    text-decoration: none;
    color: #E67200;
}
div.datepublication{
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    float: right;
    color: #00A8DD;
}
div.details{
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    color: #A0A0A0;
    float: left;
}
div.localisation{
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    color: #A0A0A0;
    float: right;
}
div.row3{
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    color: #58585A;
    font-size: 14px;
    padding-top: 5px;
}
#noresultmsg{
    color: #00A8DD;
    text-align: center;
    padding-top: 20px;
}
.pagi{
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    color: #58585A;
}
.pagi a{
    text-decoration: none;
    color: #58585A;
}
.pagi a:hover{
    color: #E67200;
    text-decoration: none;
}
#desctext{
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    color: #58585A;
}
#mission_title{
    color: #00A8DD;
    font-weight: bold;
}
#mission_text{
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    color: #58585A;
}
#nomEntreprise{
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    color: #00A8DD;
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
}
#descriptionEntreprise{
    width: 260px;
    border: 1px solid #424DA6;
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #58585A;
}
#infocompTitre{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    color: #00A8DD;
}
#infocomp{
    width: 260px;
    border: 1px solid #424DA6;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #A0A0A0;
    font-family: 'Trebuchet MS','Trebuchet','Aria',sans-serif;
}
#footer{
    padding-top: 35px;
    color: #A0A0A0;
}
#footer a{
    color: #A0A0A0;
    text-decoration: none;
}
#footer a:hover{
    color: #E67200;
}



#bgpopup_localisation{
    z-index: 2000;
    display: none;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    filter:alpha(opacity=75);
}

#popup_localisation{
    display: none;
    position: absolute;
    z-index: 2005;
    background-color: #ffffff;
    border: 4px solid #EEEEEE;
}

#popup_localisation_header{
    height: 20px;
    background-color: #EEEEEE;
    padding-left: 3px;
    color: #005599;
    font-weight: bold;
}

#map_canvas{
    height:300px;
    /*margin: 0 auto;*/

}


